body {
  margin:0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:50px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.admin-toolbar {
	background-color: black;
	color: white;
	padding:10px;
	border-bottom:3px ridge grey;
}

a {
	text-decoration: none;
	color: white;
}

a > div {
	background-color:#555;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	transition:0.3s;
}

a > div:hover {
	background-color: #fff;
	color:black;
}

h1, p {	text-align: center; }

h1 { margin-bottom: 50px; }

p {
	font-size: 22px;
	margin:0;
}

.status-box {
	display: flex;
	justify-content: center;
	margin-bottom:80px;
}

.status-box > div {
	padding:10px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

label {
	width:100%;
	font-weight:bold;
	font-size:18px;
	text-align: center;
	margin-bottom:5px;
}

select {
	font-size:18px;
}

button {
	width:150px;
	padding: 10px 0;
	font-size:22px;
	font-weight: bold;
	margin:20px auto 50px;
	background-color:#7fb3d5;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	border:none;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
	background-color: #D4E6F1;
}
