img {
	z-index: -10;
}

body {
	margin: 0;
}

.header-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	background-image: linear-gradient(to right, #fff, #ccc);
	background-size: cover;
	background-position: 0% 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}

.middler {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 65vh;
}

form {
  padding: 20px;
	box-shadow:5px 5px 10px rgba(0,0,0,0.5);
	background-color: #D6DBDF;
	z-index: 1000;
	border: 5px outset #7fb3d5;
}

.form-control {
	border-radius: 5px;
	padding:10px;
	font-size:20px;
	margin: 10px;
}

button {
	width: 100px;
	border: none;
	background-color:#7fb3d5;
	color: #fff;
	transition:0.3s;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

button:hover {
	cursor:pointer;
	background-color:#eee;
	color: #283747;
}

.message {
	color: red;
	font-size: 22px;
	margin-top: 20px;
	width:100%;
	text-align: center;
}

.resetPassword a {
	font-family: arial;
	font-size: 22px;
	text-decoraton: none;
	color: #7fb3d5;	
}
