body {
	margin: 0;
}

.container {
	margin:20vh auto;
	max-width:400px;
	border-radius:5px;
	box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color:#eee;
	padding:20px;
}

form {
	display: flex;
	flex-direction: column;
}

h1 { 
	text-align: center;
	margin-bottom: 15%;
}
	

label {
	display: block;
	font-weight: bold;
	font-size:18px;
}

.form-control {
	margin-bottom: 20px;
	border-radius: 5px;
	padding:5px;
	font-size:20px;
}

button {
	width: 100px;
	align-self: center;
	border: none;
	background-color:#7fb3d5;
	transition:0.3s;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	
}

button:hover {
	cursor:pointer;
	background-color:#D4E6F1;
}

.message {
	color: red;
}